<form method="post" action="{{ path('app_culte_delete', {'id': culte.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ culte.id) }}">
    <button class="btn">Delete</button>
</form>
