{% extends 'base.html.twig' %}

{% block title %}Nouveau Culte{% endblock %}

{% block body %}
<div class="container">
    <h1>Nouveau Culte</h1>

    {{ include('culte/_form.html.twig') }}

    <div class="p-3" >
        <p>Dime</p>
        <div class="row">
            <div class="col-md-4">
                <label class="form-label">Montant FC</label>
                <input class="form-control" name="dime_montant_fc" />
            </div>
            <div class="col-md-4">
                <label class="form-label">Montant USD</label>
                <input class="form-control" name="dime_montant_usd" />
            </div>
        </div>
    </div>
    <div class="mt-4 p-3" >
        <p>Offrande Ordinaire</p>
        <div class="row">
            <div class="col-md-4">
                <label class="form-label">Montant FC</label>
                <input class="form-control" name="oo_montant_fc" />
            </div>
            <div class="col-md-4">
                <label class="form-label">Montant USD</label>
                <input class="form-control" name="oo_montant_usd" />
            </div>
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Envoyer</button>

    </form>
    <a class="btn btn-secondary" href="{{ path('app_culte_index') }}">Retour à la liste</a>
</div>
{% endblock %}
{% block javascripts %}
    <script>
        var inp = document.getElementById("culte_dateculte");
        if(inp){
            inp.setAttribute("type","date");
        }
    </script>
{% endblock %}