.logo {
    height: 60;
    text-align: center;
    font-family: 'Arial';
    font-size: 11px;
}

body {
    width: 980px;
    height: 140px;
    margin: auto;
    border: 1px solid #c4c4c4;
    padding: 0;
}

p {
    font-family: 'Arial';
    font-size: 12px;
}

h2 {
    font-family: 'Arial';
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;
}

.center-panel {
    padding-left: 10px;
}

button {
    border-radius: 0px;
    padding: 10px;
    border: 0px;
}

.h2-panel {
    text-align: center;
    width: 100%;
}

.pan3 {
    width: 30%;
}

.p10 {
    padding-left: 10px;
}

.bg-gray {
    background: #ebebeb;
}

.pan2 {
    width: 30%;
}

.frais {
    text-transform: uppercase;
    font-size: 13px;
}

.table {
    width: 980px;
    height: 140px;
    padding: 0;
    margin: 0;
}