<form method="post" action="{{ path('app_offrande_delete', {'id': offrande.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ offrande.id) }}">
    <button class="btn">Delete</button>
</form>
